{{#extend "layout"}}

  {{#replace "meta"}}
    <title>{{tools-page-title}}</title>
    <meta name="description" content="{{tools-description}}">
  {{/replace}}

  {{#replace "main"}}

    <section id="tools">

      <h2>{{tools}}</h2>

      <h3>{{tools-broadaxe}}</h3>
      <p>{{tools-broadaxe-info}}</p>
      <div class="images">
        {{#repeat 13}}
          <a href="/assets/img/tools/broadaxe/broadaxe-{{this}}.jpg">
            <img src="/assets/img/tools/broadaxe/broadaxe-{{this}}.jpg" />
          </a>
        {{/repeat}}
      </div>

      <h3>{{tools-adze}}</h3>
      <p>{{tools-adze-info}}</p>
      <div class="images">
        {{#repeat 8}}
          <a href="/assets/img/tools/adze/adze-{{this}}.jpg">
            <img src="/assets/img/tools/adze/adze-{{this}}.jpg" />
          </a>
        {{/repeat}}
      </div>

      <h3>{{tools-rip-saw}}</h3>
      <p>{{tools-rip-saw-info}}</p>
      <div class="images">
        {{#repeat 7}}
          <a href="/assets/img/tools/ripsaw/ripsaw-{{this}}.jpg">
            <img src="/assets/img/tools/ripsaw/ripsaw-{{this}}.jpg" />
          </a>
        {{/repeat}}
      </div>

    </section>

  {{/replace}}
{{/extend}}