{{#extend "layout"}}

  {{#replace "meta"}}
    <title>{{tools-page-title}}</title>
    <meta name="description" content="{{tools-description}}">
  {{/replace}}

  {{#replace "main"}}

    <section id="tools">

      <h2>{{tools}}</h2>

      <h3>{{tools-broadaxe}}</h3>

      <p>{{tools-broadaxe-info}}</p>

      <div class="gallery">
        {{#each images.broadaxe}}
          <a href="/assets/img/tools/broadaxe/broadaxe-{{@index}}.jpg">
            <img src="/assets/img/tools/broadaxe/thumbs/broadaxe-{{@index}}.jpg" />
          </a>
        {{/each}}
      </div>

      <!-- https://github.com/wycats/handlebars.js/issues/250#issuecomment-9514811 -->

      <h3>{{tools-adze}}</h3>

      <p>{{tools-adze-info}}</p>

      <div class="gallery">
        {{#each images.broadaxe}}
          <a href="/assets/img/tools/broadaxe/broadaxe-{{@index}}.jpg">
            <img src="/assets/img/tools/broadaxe/thumbs/broadaxe-{{@index}}.jpg" />
          </a>
        {{/each}}
      </div>

      <h3>{{tools-rip-saw}}</h3>

      <p>{{tools-rip-saw-info}}</p>

      <div class="gallery">
        {{#each images.broadaxe}}
          <a href="/assets/img/tools/broadaxe/broadaxe-{{@index}}.jpg">
            <img src="/assets/img/tools/broadaxe/thumbs/broadaxe-{{@index}}.jpg" />
          </a>
        {{/each}}
      </div>

    </section>

  {{/replace}}
{{/extend}}