{{#extend "layout"}}

  {{#replace "meta"}}
    <title>{{tools-page-title}}</title>
    <meta name="description" content="{{tools-description}}">
  {{/replace}}

  {{#replace "main"}}

    <section id="tools">

      <h2>{{tools}}</h2>

      <h3>{{tools-broadaxe}}</h3>

      <p>{{tools-broadaxe-info}}</p>

      <p>-images-</p>

      <h3>{{tools-adze}}</h3>

      <p>{{tools-adze-info}}</p>

      <p>-images-</p>

      <h3>{{tools-rip-saw}}</h3>

      <p>{{tools-adze-info}}</p>

      <p>-images-</p>

    </section>

  {{/replace}}
{{/extend}}