{{#extend "layout"}}

  {{#replace "meta"}}
    <title>{{buildings-page-title}}</title>
    <meta name="description" content="{{buildings-description}}">
  {{/replace}}

  {{#replace "main"}}

    <section id="buildings">

      <h2>Buildings</h2>

      <h3>{{buildings-tomohana}}</h3>

      <h3>{{buildings-genkan}}</h3>

      <h3>{{buildings-sendogoya}}</h3>

      <h3>{{buildings-shiono}}</h3>

    </section>

  {{/replace}}
{{/extend}}