<nav>
  <ul>
    <li>
      <a href="/{{lang}}/">
          {{#x}}About{{/x}}
        </a>
    </li>
    <li>
      <a href="#">
          {{#x}}Portfolio{{/x}}
        </a>
    </li>
    <ul>
      <li>
        <a href="/{{lang}}/buildings">
            {{#x}}Buildings{{/x}}
          </a>
      </li>
      <li>
        <a href="/{{lang}}/furniture">
            {{#x}}Furniture{{/x}}
          </a>
      </li>
      <li>
        <a href="/{{lang}}/exchange">
            {{#x}}International{{/x}}
          </a>
      </li>
    </ul>
    <li>
      <a href="/{{lang}}/tools">
          {{#x}}Tools{{/x}}
        </a>
    </li>
    <li>
      <a href="/{{lang}}/ocha-he-ie">
          {{#x}}Oche-He-Ie{{/x}}
        </a>
    </li>
    <li>
      <a href="/{{lang}}/finish">
          {{#x}}Finish{{/x}}
        </a>
    </li>
    <li>
      <a href="/{{lang}}/links">
          {{#x}}Links{{/x}}
      </li>
      <li>
        <a href="/{{lang}}/contact">
          {{#x}}Contact{{/x}}
        </a>
    </li>
  </ul>
  <p class="jp">
    <a href="/jp/{{this-page}}" title="日本語">
      <img src="img/flag-jp.png" width="16" height="11" alt="Japanese flag icon" />日本語
    </a>
  </p>
  <p class="en">
    <a href="/en/{{this-page}}" title="日本語">
      <img src="img/flag-en.png" width="16" height="11" alt="English flag icon" />
      <img src="img/flag-us.png" width="16" height="11" alt="USA flag icon" />English
    </a>
  </p>
</nav>