<nav>
  <ul>
    <li><a href="/{{language}}/">{{about}}</a></li>
    <li class="parent">
      <a href="#">{{portfolio}}</a>
      <ul>
        <li><a href="/{{language}}/buildings">{{buildings}}</a></li>
        <li><a href="/{{language}}/furniture">{{furniture}}</a></li>
        <li><a href="/{{language}}/international">{{international}}</a></li>
      </ul>
    </li>
    <li> <a href="/{{language}}/tools">{{tools}}</a></li>
    <li><a href="/{{language}}/ocha-he-ie">{{ocha-1}}</a></li>
    <li><a href="/{{language}}/finish">{{finish-choose}}</a></li>
    <li><a href="/{{language}}/links">{{links}}</a></li>
    <li><a href="/{{language}}/contact">{{contact}}</a></li>
  </ul>
  <p class="jp">
    <a href="/jp/{{this-page}}" title="日本語">
      <img src="/assets/img/flag-jp.png" width="16" height="11" alt="Japanese flag icon" />日本語
    </a>
  </p>
  <p class="en">
    <a href="/en/{{this-page}}" title="日本語">
      <img src="/assets/img/flag-en.png" width="16" height="11" alt="English flag icon" />English
    </a>
  </p>
</nav>