<nav>
  <ul>
    <li>
      <a href="/{{language}}/">
          About
        </a>
    </li>
    <li>
      <a href="#">
          Portfolio
        </a>
    </li>
    <ul>
      <li>
        <a href="/{{language}}/buildings">
            Buildings
          </a>
      </li>
      <li>
        <a href="/{{language}}/furniture">
            Furniture
          </a>
      </li>
      <li>
        <a href="/{{language}}/exchange">
            International
          </a>
      </li>
    </ul>
    <li>
      <a href="/{{language}}/tools">
          Tools
        </a>
    </li>
    <li>
      <a href="/{{language}}/ocha-he-ie">
          Oche-He-Ie
        </a>
    </li>
    <li>
      <a href="/{{language}}/finish">
          Finish
        </a>
    </li>
    <li>
      <a href="/{{language}}/links">
          Links
      </li>
      <li>
        <a href="/{{language}}/contact">
          Contact
        </a>
    </li>
  </ul>
  <p class="jp">
    <a href="/jp/{{this-page}}" title="日本語">
      <img src="/assets/img/flag-jp.png" width="16" height="11" alt="Japanese flag icon" />日本語
    </a>
  </p>
  <p class="en">
    <a href="/en/{{this-page}}" title="日本語">
      <img src="/assets/img/flag-en.png" width="16" height="11" alt="English flag icon" />
      <img src="/assets/img/flag-us.png" width="16" height="11" alt="USA flag icon" />English
    </a>
  </p>
</nav>