{{#extend "layout"}}

  {{#replace "meta"}}
    <title>{{about-page-title}}</title>
    <meta name="description" content="{{about-description}}">
  {{/replace}}

  {{#replace "main"}}

    <section id="about">

      <h2>{{about}}</h2>
      <h3>{{amemiya-daiku}}</h3>
      <p>{{about-intro-1}}</p>
      <img src="/assets/img/kunihiro-amemiya.jpg" width="600" height="402" alt="{{about-img-alt}}" />
      <p>{{about-intro-2}}</p>
      <h3>{{about-history}}</h3>
      <table>
        <tr>
          <td>{{about-history-1969}}</td>
          <td>{{about-history-1}}</td>
        </tr>
        <tr>
          <td>{{about-history-1989}}</td>
          <td>{{about-history-2}}</td>
        </tr>
        <tr>
          <td>{{about-history-1999}}</td>
          <td>{{about-history-3}}</td>
        </tr>
        <tr>
          <td>{{about-history-2004}}</td>
          <td>{{about-history-4}}</td>
        </tr>
        <tr>
          <td>{{about-history-2007}}</td>
          <td>{{about-history-5}}</td>
        </tr>
        <tr>
          <td>{{about-history-2007}}</td>
          <td>{{exchange-2007-desc}}</td>
        </tr>
        <tr>
          <td>{{about-history-2008}}</td>
          <td>{{about-history-6}}</td>
        </tr>
        <tr>
          <td>{{about-history-2009}}</td>
          <td>{{about-history-7}}</td>
        </tr>
        <tr>
          <td>{{about-history-2010}}</td>
          <td>{{about-history-8}}</td>
        </tr>
        <tr>
          <td>{{about-history-2010}}</td>
          <td>{{about-history-9}}</td>
        </tr>
      </table>

    </section>

  {{/replace}}
{{/extend}}